<h2><%= @movie.title %></h2>
<p><%= @movie.overview %></p>
<img src="<%= @movie.poster_url %>" alt="movie-poster" width="300">
<h5>Rating:<%= @movie.rating %></h5>

<%= link_to 'Bookmark this movie', movies_path %>
<%= link_to 'Go back', movies_path %>

<%# how to save movie through the link%>
